*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'Averia Sans Libre', sans-serif;
}
header{
	padding-top: 1%;
	padding-right: 2%;
	padding-bottom: 1%;
	padding-left: 2%;
	display: flex;
	justify-content: space-between;
    background-color: #55c049;
}
nav{
    background-color: #55c049;
    font-size: 20px;
}
header div a img{
    width: 120px;
    height: 90px;
    padding: 0;
}
ul {
    list-style: none;
    padding: 0;
}
ul ul{
    z-index: 4;
}
ul li {
    position: relative;
    display: inline-block;
}
ul li a {
    text-decoration: none;
    padding: 35px 20px;
    display: block;
    color: #ffffff;
}
ul li a:hover{
    color: #14580d;
}
ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #348a2c;
    list-style: none;
    padding: 0;
}
ul li:hover ul {
    display: block;
}

ul li ul li {
    display: block;
}
/*ul li ul li:hover {
    background-color: #14580d;
}*/
ul li ul li a:hover {
    color: #14580d;
}
section{
    width: 100%;
    height: 80%;
    background-color: #13440e;
}
article {
    padding-top: 1%;
	padding-right: 2%;
	padding-bottom: 1%;
	padding-left: 2%;
    /*border: 0.3vw solid rgb(154, 184, 150);*/
    display: flex;
    
}
/*article div{
    
    height: 375px;
}*/
article div img{
    width: 250px;
    height: 100%;
}
article div h4{
    padding: 1% 1%;
    text-align: center;
    font-size: 45px;
    color: #ffffff;
}
article div p{
    padding: 1% 1%;
    text-align: center;
    font-size: 23px;
    color: #ffffff;
}

footer {
    text-align: center;
    padding-top: 1%;
	padding-right: 2%;
	padding-bottom: 1%;
	padding-left: 2%;
    background-color: #55c049;
}
footer img {
    width: 50px;
    height: 50px;
    margin: 0 10px; 
}

@media screen and (max-width: 480px){
    article div .finn{
        width: 250px;
        height: 400px;
    }
    article div .jake{
        width: 250px;
        height: 350px;
    }
    article div .bmo{
        width: 250px;
        height: 300px;
    }
    article div .dulprin{
        width: 250px;
        height: 250px;
    }
    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}