*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'Averia Sans Libre', sans-serif;
}
header{
	padding-top: 1%;
	padding-right: 2%;
	padding-bottom: 1%;
	padding-left: 2%;
	display: flex;
	justify-content: space-between;
    background-color: #55c049;
}
nav{
    background-color: #55c049;
    font-size: 20px;
}
header div a img{
    width: 120px;
    height: 90px;
    padding: 0;
}
ul {
    list-style: none;
    padding: 0;
}
ul li {
    position: relative;
    display: inline-block;
}
ul li a {
    text-decoration: none;
    padding: 35px 20px;
    display: block;
    color: #ffffff;
}
ul li a:hover{
    color: #14580d;
}
ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #348a2c;
    list-style: none;
    padding: 0;
}
ul li:hover ul {
    display: block;
}
ul ul{
    z-index: 4;
}

ul li ul li {
    display: block;
}
/*ul li ul li:hover {
    background-color: #14580d;
}*/
ul li ul li a:hover {
    color: #14580d;
}
section{
    background-image: url(../imagenes/retratos/fondo3.jpg);
    background-size: cover; 
    background-position: center;
}
section form {
    position: relative;
    text-align: center;
    display: inline-block;
    padding: 25% 25%;
    width: 100%;
}
form label{
    color: #000000;
    font-size: 20px;
}
form label, input, textarea{
    display: block;
    margin: 10px 0;
    width: 100%;
    background-color: transparent;
    font-size: 20px;
    font-family: 'Averia Sans Libre', sans-serif;
}
form input, textarea{
    border: 0.3vw solid rgb(0, 0, 0);
}
form input[type = "submit"]{
    border: 0.3vw solid rgb(0, 0, 0);
    color: #000000;
    font-size: 20px;
    font-family: 'Averia Sans Libre', sans-serif;
    cursor: pointer;
}




footer {
    text-align: center;
    padding-top: 1%;
	padding-right: 2%;
	padding-bottom: 1%;
	padding-left: 2%;
    background-color: #55c049;
    
}

footer img {
    width: 50px;
    height: 50px;
    margin: 0 10px; 
}

@media screen and (max-width: 480px){

}